
<h1>MorePi</h1>

<div id="header">
	<span class="get get-books-list">Books</span> | 
	<span class="get get-authors-list">Authors</span> | 
	<button id="reset-button">Reset data</button>
</div>

<div id="main">
	
	
</div>